body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    grid-template-rows: auto 1fr auto;
    min-height: 1000vh;
}

/* --- HEADER SECTION -- */
header {
    grid-column: span 3;
    background-color: #11607c;
    padding: 1vw 0 1vw 0;
    font-size: 1vw;
    color: white;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
}

.photo_text_header {
    display: grid;
    grid-template-columns: 44vw 17vw 39vw;
    align-items: center;
}

.photoHeader720px {
    display: none;
}

.photoHeader721px {
    display: contents;
}

.photo_marcos_header {
    transform-origin: center center;
    object-fit: cover;
    margin-left: 38vw;
    border-radius: 50vw;
    width: 5vw;
}

.text_header_01 {
    display: grid;
    text-align: center;
}

.division_header_01 {
    border-width: 0;
    background-color: #fff;
    margin: 0.6vw 0 0.6vw 0;
    height: 0.2vw;
}

.text_header_02 {
    letter-spacing: 0.2vw;
}

/* --- NAV SECTION -- */
/*Link não visitado */
nav a:link {
    color: #11607c;
    text-decoration: none;
}

/*Link já visitado*/
nav a:visited {
    color: #771919;
    text-decoration: none;
}

/*Quando o mouse passa por cima*/
nav a:hover {
    color: #ff0000;
    text-decoration: none;
}

/*Link ativo/selecionado*/
nav a:active {
    color: yellow;
    text-decoration: none;
}

nav {
    background-color: #f90;
    padding: 2vw 1.2vw 0 1.2vw;
}

.nav_p {
    padding: 1.1vw 0 2vw 0;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3vw;
    line-height: 1.4vw;
}

.material-icons.icon_color_nav {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 0.1vw;
}

.text_nav {
    font-size: 1.1vw;
    font-weight: 600;
    padding-left: 0.5vw;
}

.display_none_720px {
    display: none;
}

.display_none_min_721px {
    display: contents;
}

/* --- main SECTION -- */
main {
    background-color: white;
    margin: 0;
    height: auto;
}

/*Link não visitado */
main a:link {
    color: #11607c;
    text-decoration: none;
}

/*Link já visitado*/
main a:visited {
    color: #771919;
    text-decoration: none;
}

/*Quando o mouse passa por cima*/
main a:hover {
    color: #ff0000;
    text-decoration: none;
}

/*Link ativo/selecionado*/
main a:active {
    color: yellow;
    text-decoration: none;
}

/* --- GOALS SECTION -- */
.right_class_body_color_goals {
    background-color: #D6EAF8;
    padding-bottom: 1vw;
    height: auto;
    width: 70vw;
}

.goals_p {
    padding: 3vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 700;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_goals {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_goals {
    color: #11607c;
    font-size: 1.2vw;
    font-weight: 700;
    align-items: 1vw;
}

.text_goals {
    font-size: 1.4vw;
    color: #000;
    font-weight: 500;
    margin-left: 1vw;
    text-align: justify;
}

/* --- QUALIFICATIONS SECTION -- */
.qualifications_p {
    padding: 3vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_qualifications {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_qualifications {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.text_qualifications {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- SKILLS SECTION -- */
.marcos_skills {
    padding: 2vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_white_size_02 {
    color: #11607c;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 1.5vw;
}

.material-icons.icon_size_02 {
    color: #C8C2C0;
    font-size: 0.9vw;
    line-height: 1.5vw;
}

.skills_02 {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- AWARD SECTION -- */
.marcos_award {
    padding: 2vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_03 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_white_size_03 {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.award_03 {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- ACADEMIC SECTION -- */
.academic_p {
    padding: 2vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_academic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_academic {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.text_academic {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- THERAPEUTIC SECTION -- */
.therapeutic_p {
    padding: 2vw 0 1vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.therapeutic_p_01 {
    padding: 2vw 0 2vw 3.5vw;
    font-size: 1.6vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: normal;
    text-decoration: underline;
}

.information_block_therapeutic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_therapeutic {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.text_therapeutic {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- TRAVEL SECTION -- */
.travel_p {
    padding: 2vw 0 2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_travel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_travel {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.text_travel {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- VOLUNTEER SECTION -- */
.volunteer_p {
    padding: 2vw 0 2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_volunteer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_color_volunteer {
    color: #11607c;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
}

.text_volunteer {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- LANGUAGES SECTION -- */
.marcos_languages {
    padding: 2vw 0 2.2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_04 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.material-icons.icon_white_size_04 {
    color: #11607c;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 1.5vw;
}

.material-icons.icon_size_04 {
    color: #C8C2C0;
    font-size: 0.9vw;
    line-height: 1.5vw;
}

.languages_04 {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- COMPANIES SECTION -- */
.companies_p {
    padding: 2vw 0 2.6vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.information_block_companies_mp {
    margin: 1vw 1vw 2vw 3.5vw;
    display: grid;
    grid-template-columns: 10vw 1fr;
    align-items: center;
}

.img_mp {
    margin-left: 1vw;
    width: 9vw;
}

.information_block_companies_sv {
    margin: 4vw 1vw 2vw 3.5vw;
    display: grid;
    grid-template-columns: 10vw 1fr;
    align-items: center;
}

.companies_sv_01 {
    display: grid;
}

.text_companies_sv {
    font-size: 1.4vw;
    color: #000;
    font-weight: 400;
    margin-left: 2vw;
    text-align: justify;
    width: 51vw;
}

.width_sv {
    width: 10vw;
}

.text_companies_sv.text_companies_sv_01 {
    font-size: 1.2vw;
}

.text_companies_sv.text_companies_sv_02 {
    margin-top: 1vw;
    font-weight: 600;
    color: #11607c;
}

.text_companies_sv.text_companies_sv_03 {
    margin-top: 1vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
}

.text_companies_sv.text_companies_sv_04 {
    margin-top: 0.8vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
}

.information_block_companies_sv_01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 63vw;
}

.text_companies_sv_05 {
    font-size: 1.2vw;
    color: #11607c;
    font-weight: 700;
    margin-left: 0;
    text-align: left;
}

.text_companies_sv_06 {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 1.5vw;
}

.information_block_companies_kb {
    margin: 4vw 1vw 2vw 3.5vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 10vw 1fr;
    align-items: center;
}

.width_kb {
    width: 10vw;
    margin-left: 0.5vw;
}

.width_ge {
    width: 9vw;
    margin-left: 0.5vw;
}

.width_re {
    width: 9vw;
    margin-left: 0.5vw;
}

.width_me {
    width: 9vw;
    margin-left: 0.5vw;
}

.width_ea {
    width: 9vw;
    margin-left: 0.5vw;
}

.information_block_companies_ea {
    margin: 4vw 1vw 2vw 3.5vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 10vw 1fr;
    align-items: center;
}

.companies_ea_01 {
    display: grid;
}

.text_companies_ea {
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: 1.7vw;
    text-align: justify;
    line-height: 1.5vw;
}

/* --- CONTACT SECTION -- */
.marcos_contact {
    margin: 4vw 1vw 2vw 3.5vw;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: justify;
    color: #11607c;
    font-style: italic;
    text-decoration: underline;
}

.marcos_contact.marcos_contact_1 {
    margin: 4vw 1vw 2vw 3.5vw;
}

.information_block_01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3.5vw;
    margin-bottom: 1.5vw;
    width: 60vw;
}

.material-icons.icon_white_size_01 {
    color: #11607c;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.5vw;
}

.address_01 {
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
    margin-left: 1vw;
    text-align: justify;
    line-height: 2.5vw;
}

/* --- SEND MESSAGE FORM -- */
form {
    text-align: justify;
    font-size: 1.3vw;
}

input,
textarea {
    width: 35vw;
    padding: 1vw;
    color: #11607c;
    margin-top: 0.7vw;
    border-radius: 1vw;
    border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #11607c;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.enviar {
    background-color: #11607c;
    margin: 2vw 0 5vw 3.5vw;
    height: 4vw;
    width: 8vw;
    font-weight: bold;
    border-radius: 1vw;
    border: 1px solid;
    color: #fff;
}

textarea {
    width: 35vw;
    height: 10vw;
    line-height: 1vw;
    max-width: 35vw;
}

form label {
    color: #11607c;
    font-weight: bold;
}

.text_place {
    margin: 2vw 0 0 3.5vw;
}

/* --- ASIDE SECTION -- */

aside {
    padding: 8% 8% 0% 8%;
    background-color: #94095a;
}

/*Link não visitado */
aside a:link {
    color: #fff;
    text-decoration: none;
}

/*Link já visitado*/
aside a:visited {
    color: #dda3f8;
    text-decoration: none;
}

/*Quando o mouse passa por cima*/
aside a:hover {
    color: #1db8e7;
    text-decoration: none;
}

/*Link ativo/selecionado*/
aside a:active {
    color: yellow;
    text-decoration: none;
}

.aside_p {
    padding: 1.5vw 0 2vw 0;
    font-size: 1.3vw;
    font-weight: 500;
    text-align: left;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.aside_p01 {
    padding: 1.5vw 0 2vw 0;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: left;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.aside_p02 {
    padding: 1vw 0 2vw 0;
    font-size: 1.1vw;
    font-weight: 500;
    text-align: left;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.information_block_aside {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3vw;
    line-height: 1.4vw;
    width: 12vw;
}

.material-icons.icon_color_aside {
    font-size: 1vw;
    font-weight: 500;
    padding-right: 0.5vw;
}

.text_aside {
    font-size: 1.1vw;
    font-weight: 500;
}

/* --- FOOTER SECTION -- */
footer {
    grid-column: span 3;
    padding: 3.5vw 0 3vw 0;
    text-align: center;
    background-color: #690;
    color: #000;
}

/*Link não visitado */
footer a:link {
    color: #fff;
    text-decoration: none;
}

/*Link já visitado*/
footer a:visited {
    color: #240707;
    text-decoration: none;
}

/*Quando o mouse passa por cima*/
footer a:hover {
    color: yellow;
    text-decoration: none;
}

/*Link ativo/selecionado*/
footer a:active {
    color: yellow;
    text-decoration: none;
}

.photoFooterIcons720px {
    display: none;
}

.photoFooterIcons721px {
    display: contents;
}

.marcos_contact_footer {
    padding: 0 3vw 0 0;
    font-size: 1.3vw;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.information_block_01_footer {
    display: grid;
    grid-template-columns: 15vw 19vw 3vw 3vw 3vw 1fr;
    grid-template-rows: 3.5vw;
    text-align: left;
    align-items: center;
    width: 100vw;
    min-height: 5vw;
}

.footer_icons {
    transform-origin: center center;
    object-fit: cover;
    width: 1.9vw;
    margin-right: 2vw;
}

.information_block_02_footer {
    display: grid;
    grid-template-columns: 15vw 19vw 2vw 3vw 20vw 3vw 1fr;
    grid-template-rows: 3.5vw;
    text-align: left;
    align-items: center;
    width: 100vw;
    min-height: 3.5vw;
}

.footer_icons_02 {
    width: 2vw;
}

.marcos_contact_footer_02 {
    padding: 0 3vw 0 0;
    font-size: 1.3vw;
    font-weight: 400;
    text-align: left;
}

.marcos_contact_footer_02:hover {
    font-size: 1.5vw;
}

.information_block_03_footer {
    display: grid;
    grid-template-columns: 34vw 3vw 18vw;
    grid-template-rows: 3.5vw;
    text-align: left;
    align-items: center;
    width: 100vw;
    min-height: 3.5vw;
}

.footer_icons_03 {
    width: 2vw;
}

.marcos_contact_footer_03 {
    font-size: 1.3vw;
    font-weight: 400;
}

.marcos_contact_footer_03:hover {
    font-size: 1.5vw;
}

.information_block_04_footer {
    display: grid;
    grid-template-columns: 15vw 19vw 3vw 63vw;
    grid-template-rows: 5vw;
    text-align: left;
    align-items: center;
    width: 100vw;
    min-height: 3.5vw;
}

.footer_icons_04 {
    width: 2vw;
}

.marcos_contact_footer_04 {
    padding: 0 3vw 0 0;
    font-size: 1.25vw;
    font-weight: 400;
    text-align: left;
}

.marcos_contact_footer_04:hover {
    font-size: 1.5vw;
}

/* --- MEDIA SECTION SIZE: 721PX & 1280PX -- */
@media (min-width: 721px) and (max-width: 1280px) {
    .container {
        grid-template-columns: 15% 1fr 15%;
    }

    /* --- HEADER SECTION SIZE: 721PX & 1280PX -- */
    header {
        padding: 10px 0 10px 0;
        font-size: 1.1vw;
    }

    .photo_text_header {
        grid-template-columns: 45% 18% 37%;
    }

    .photo_marcos_header {
        margin-left: 85%;
        width: 12%;
    }
}

/* --- MEDIA SECTION SIZE: MAX: 720PX -- */
@media (max-width: 720px) {

    body {
        /* overflow-y: hidden; */
        margin: 0;
    }


    .container {
        display: block;
    }



    /* --- HEADER SECTION SIZE: MAX: 720PX -- */
    header {
        display: block;
        padding: 3vw 0vw 3vw 0vw;
        font-size: 3vw;
        font-weight: 700;
        width: 100vw;
    }

    .photo_text_header {
        display: grid;
        grid-template-columns: 34vw 47vw 1fr;
    }

    .photoHeader720px {
        display: contents;
    }

    .photoHeader721px {
        display: none;
    }

    .photo_marcos_header {
        margin-left: 19vw;
        width: 12vw;
    }

    .text_header_01 {
        display: grid;
        text-align: center;
    }

    .division_header_01 {
        border-width: 0;
        background-color: #fff;
        margin: 0.7vw 1.5vw 0.9vw 1.7vw;
        height: 0.2vw;
    }

    .text_header_02 {
        letter-spacing: 0.3vw;
    }

    /* --- NAV SECTION SIZE: MAX: 720PX -- */
    nav {
        width: 100vw;
        height: auto;
        padding-bottom: 6vw;
    }

    .display_none_720px {
        display: inline-block;
        padding-top: 5vw;
    }

    .display_none_min_721px {
        display: none;
    }

    .nav_p {
        padding: 0 0 7vw 3.5vw;
        font-size: 5vw;
        font-weight: 700;
        text-align: left;
    }

    .information_block_nav {
        display: grid;
        margin-left: 0vw;
        margin-right: 5vw;
        grid-template-columns: 4vw 27vw 1vw 4vw 26.4vw 3vw 4vw 24.5vw;
        grid-template-rows: 15vw 15vw 15vw;
    }

    .material-icons.icon_color_nav {
        font-size: 3.7vw;
        padding-left: 0vw;
        line-height: 5vw;
        color: #11607c;
    }

    .text_nav {
        font-size: 4vw;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
        line-height: 5vw;
        color: #11607c;
        /* background-color: #C8C2C0; */
    }

    /* --- MAIN SECTION - GOALS - SIZE: MAX: 720PX -- */
    .right_class_body_color_goals {
        display: inline-block;
        background-color: #D6EAF8;
        padding-bottom: 3vw;
        height: auto;
        width: 100vw;
    }

    .goals_p {
        padding: 5vw 0 2.2vw 3.5vw;
        font-size: 5vw;
        margin-bottom: 2vw;
    }

    .information_block_goals {
        margin-bottom: 3vw;
        width: 91vw;
    }

    .material-icons.icon_color_goals {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_goals {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - QUALIFICATIONS - SIZE: MAX: 720PX -- */
    .qualifications_p {
        padding: 6vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_qualifications {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-bottom: 3vw;
        margin-left: 3.5vw;
        width: 91vw;
    }

    .material-icons.icon_color_qualifications {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_qualifications {
        font-size: 4vw;
        margin-left: 2vw;
        line-height: 5vw;
    }

    /* --- MAIN SECTION - SKILLS - SIZE: MAX: 720PX -- */
    .marcos_skills {
        padding: 5vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_02 {
        margin-left: 3.5vw;
        margin-bottom: 1vw;
        width: 91vw;
    }

    .material-icons.icon_white_size_02 {
        font-size: 3.7vw;
        margin-bottom: 2vw;
        line-height: 5vw;
    }

    .material-icons.icon_size_02 {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .skills_02 {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - AWARDS - SIZE: MAX: 720PX -- */

    .marcos_award {
        padding: 5vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_03 {
        margin-bottom: 3vw;
        margin-left: 3.5vw;
        width: 91vw;
    }

    .material-icons.icon_white_size_03 {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .material-icons.icon_white_size_03_1 {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .award_03 {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - ACADEMIC FORMATION- SIZE: MAX: 720PX -- */
    .academic_p {
        padding: 0 0 4.2vw 3.5vw;
        font-size: 5vw;

    }

    .information_block_academic {
        margin-bottom: 3vw;
        margin-left: 3.5vw;
        width: 91vw;

    }

    .material-icons.icon_color_academic {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_academic {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - THERAPEUTIC FORMATION - SIZE: MAX: 720PX -- */
    .therapeutic_p {
        padding: 0 0 2.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_therapeutic {
        margin-left: 3.5vw;
        margin-bottom: 3vw;
        width: 91vw;
    }

    .therapeutic_p_01 {
        padding: 3vw 0 4.2vw 3.5vw;
        font-size: 4.5vw;
    }

    .material-icons.icon_color_therapeutic {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_therapeutic {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - TRAVEL SERVICES - SIZE: MAX: 720PX -- */
    .travel_p {
        padding: 5vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_travel {
        margin-left: 3.5vw;
        margin-bottom: 2vw;
        width: 91vw;
    }

    .material-icons.icon_color_travel {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_travel {
        font-size: 4vw;
        line-height: 5vw;
        margin-left: 2vw;
    }

    /* --- MAIN SECTION - VOLUNTEER - SIZE: MAX: 720PX -- */
    .volunteer_p {
        padding: 5vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_volunteer {
        margin-left: 3.5vw;
        margin-bottom: 2vw;
        width: 91vw;
    }

    .material-icons.icon_color_volunteer {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .text_volunteer {
        font-size: 4vw;
        line-height: 5vw;
    }

    /* --- MAIN SECTION - LANGUAGES - SIZE: MAX: 720PX -- */
    .marcos_languages {
        padding: 5vw 0 4.2vw 3.5vw;
        font-size: 5vw;
    }

    .information_block_04 {
        margin-left: 3.5vw;
        margin-bottom: 2vw;
        width: 91vw;
    }

    .material-icons.icon_white_size_04 {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .material-icons.icon_size_04 {
        font-size: 3.7vw;
        line-height: 5vw;
    }

    .languages_04 {
        font-size: 4vw;
        line-height: 5vw;
    }

    /* --- MAIN SECTION - COMPANIES - SIZE: MAX: 720PX -- */
    .companies_p {
        padding: 5vw 0 0 3.5vw;
        font-size: 5vw;
    }

    /* --- mentorias - SIZE: MAX: 720PX -- */
    .information_block_companies_mp {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;

    }

    .img_mp {
        padding: 2vw 38vw 0vw 38vw;
        width: 99vw;
    }

    .companies_mp {
        display: block;
        margin-top: -4vw;
    }

    .text_companies_mp {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_mp.text_companies_mp_01 {
        display: block;
    }

    .text_companies_mp.text_companies_mp_02_1,
    .text_companies_mp.text_companies_mp_02_2 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 0vw 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_mp.text_companies_mp_02_2 {
        padding: 0vw 0 2vw 0;
    }

    .text_companies_mp.text_companies_mp_03 {
        display: block;
        padding: 0 5vw 0 5vw;
    }

    .information_block_companies_mp_01,
    .information_block_companies_mp_02 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding-top: 4vw;
        margin-left: 3.5vw;
        width: 91vw;
        font-size: 4vw;
        line-height: 5vw;
    }

    .information_block_companies_mp_02 {
        padding-top: 2vw;
    }

    .text_companies_mp_06 {
        margin-left: 2vw;
    }

    /* --- semente viva - SIZE: MAX: 720PX -- */
    .information_block_companies_svt {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_svt {
        padding: 2vw 41vw 2vw 41vw;
        width: 100vw;
    }

    .companies_svt {
        display: block;
        margin-top: -4vw;
    }

    .text_companies_svt {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_svt.text_companies_svt_01 {
        display: block;
    }

    .text_companies_svt.text_companies_svt_02_1,
    .text_companies_svt.text_companies_svt_02_2 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 0 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_svt.text_companies_svt_02_2 {
        padding: 0 0 2vw 0;
    }

    .text_companies_svt.text_companies_svt_03 {
        display: block;
        padding: 0 6vw 0 6vw;
    }

    .text_companies_svt.text_companies_svt_04 {
        display: block;
        padding: 2vw 6vw 0 6vw;
    }

    .information_block_companies_svt_01,
    .information_block_companies_svt_02 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding-top: 4vw;
        margin-left: 3.5vw;
        width: 91vw;
        font-size: 4vw;
        line-height: 5vw;
    }

    .information_block_companies_svt_02 {
        padding-top: 2vw;
    }

    .text_companies_svt_06 {
        margin-left: 2vw;
    }

    /* --- KIDDE BRASIL - SIZE: MAX: 720PX -- */
    .information_block_companies_kb {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_kb {
        padding: 2vw 40vw 2vw 40vw;
        width: 100vw;
    }

    .companies_kb {
        display: block;
        margin-top: -4vw;
    }

    .text_companies_kb {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_kb.text_companies_kb_01 {
        display: block;
    }

    .text_companies_kb.text_companies_kb_02_1,
    .text_companies_kb.text_companies_kb_02_2 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 0 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_kb.text_companies_kb_02_2 {
        padding: 0 0 2vw 0;
    }

    .text_companies_kb.text_companies_kb_03 {
        display: block;
        padding: 0 6vw 0 6vw;
    }

    .text_companies_kb.text_companies_kb_04 {
        display: block;
        padding: 2vw 6vw 0 6vw;
    }

    .information_block_companies_kb_01,
    .information_block_companies_kb_02 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding-top: 4vw;
        margin-left: 3.5vw;
        width: 91vw;
        font-size: 4vw;
        line-height: 5vw;
    }

    .information_block_companies_kb_02 {
        padding-top: 2vw;
    }

    .text_companies_kb_06 {
        margin-left: 2vw;
    }

    /* --- GE - SIZE: MAX: 720PX -- */
    .information_block_companies_ge {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_ge {
        margin: 0;
        padding: 2vw 41vw 2vw 41vw;
        width: 100vw;
    }

    .companies_ge {
        display: block;
        margin-top: -4vw;
    }

    .text_companies_ge {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_ge.text_companies_ge_01 {
        display: block;
    }

    .text_companies_ge.text_companies_ge_02_1,
    .text_companies_ge.text_companies_ge_02_2 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 0 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_ge.text_companies_ge_02_2 {
        padding: 0 0 2vw 0;
    }

    .text_companies_ge.text_companies_ge_03 {
        display: block;
        padding: 0 6vw 0 6vw;
    }

    .text_companies_ge.text_companies_ge_04 {
        display: block;
        padding: 2vw 6vw 0 6vw;
    }

    .information_block_companies_ge_01,
    .information_block_companies_ge_02 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding-top: 4vw;
        margin-left: 3.5vw;
        width: 91vw;
        font-size: 4vw;
        line-height: 5vw;
    }

    .information_block_companies_ge_02 {
        padding-top: 2vw;
    }

    .text_companies_ge_06 {
        margin-left: 2vw;
    }

    /* --- RESOLUÇÃO - SIZE: MAX: 720PX -- */
    .information_block_companies_re {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_re {
        padding: 2vw 41vw 2vw 41vw;
        width: 100vw;
    }

    .companies_re {
        display: block;
        margin-top: 0vw;
    }

    .text_companies_re {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_re.text_companies_re_01 {
        display: block;
    }

    .text_companies_re.text_companies_re_02 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 2vw 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_re.text_companies_re_03 {
        display: block;
        padding: 0 6vw 0 6vw;
    }

    .text_companies_re.text_companies_re_04 {
        display: block;
        padding: 2vw 6vw 0 6vw;
    }

    .information_block_companies_re_01,
    .information_block_companies_re_02 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding-top: 4vw;
        margin-left: 3.5vw;
        width: 91vw;
        font-size: 4vw;
        line-height: 5vw;
    }

    .information_block_companies_re_02 {
        padding-top: 2vw;
    }

    .text_companies_re_06 {
        margin-left: 2vw;
    }

    /* --- MONTAG - SIZE: MAX: 720PX -- */
    .information_block_companies_me {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_me {
        padding: 2vw 41vw 2vw 41vw;
        width: 100vw;
    }

    .companies_me {
        display: block;
        margin-top: 0vw;
    }

    .text_companies_me {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 100vw;
    }

    .text_companies_me.text_companies_me_01 {
        display: block;
    }

    .text_companies_me.text_companies_me_02 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 2vw 0;
        font-weight: 600;
        color: #11607c;
    }

    .text_companies_me.text_companies_me_03 {
        display: block;
        padding: 0 6vw 0 6vw;
    }

    .text_companies_me.text_companies_me_04 {
        display: block;
        padding: 2vw 6vw 0 6vw;
    }

    /* --- ANTERIORES - SIZE: MAX: 720PX -- */
    .information_block_companies_ea {
        margin: 5vw 0 0 0;
        padding: 0;
        display: block;
        align-items: center;
    }

    .img_ea {
        margin: 0;
        padding: 2vw 41vw 2vw 41vw;
        width: 100vw;
    }

    .companies_ea {
        display: block;
        margin-top: -4vw;
    }

    .text_companies_ea {
        font-size: 4vw;
        color: #000;
        font-weight: 400;
        text-align: center;
        line-height: 5vw;
        width: 98.3vw;
    }

    .text_companies_ea.text_companies_ea_01 {
        display: block;
    }

    .text_companies_ea.text_companies_ea_02 {
        display: block;
        font-size: 4.5vw;
        padding: 2vw 0 2vw 0;
        font-weight: 600;
        color: #11607c;
    }

    /* --- SEND MESSAGE FORM - SIZE: MAX: 720PX -- */
    .marcos_message {
        padding: 6vw 0 2.2vw 3.5vw;
        font-size: 5vw;
        font-weight: 600;
        text-align: justify;
        color: #11607c;
        font-style: italic;
        text-decoration: underline;
    }

    form {
        text-align: justify;
        font-size: 3vw;
    }

    input,
    textarea {
        width: 90vw;
        padding: 2vw;
        color: #11607c;
        margin-top: 2vw;
        border-radius: 1vw;
        border: 1px solid;
        font-size: 3vw;
    }

    textarea {
        width: 90vw;
        height: 50vw;
        line-height: 4vw;
        max-width: 90vw;
    }

    form label {
        color: #11607c;
        font-weight: bold;
    }

    .text_place {
        margin: 4vw 0 0 3.5vw;
    }

    .enviar {
        background-color: #11607c;
        margin: 4vw 0 5vw 3.5vw;
        height: 10vw;
        width: 20vw;
        font-weight: bold;
        border-radius: 1vw;
        border: 1px solid;
        color: #fff;
        font-size: 3vw;
    }

    /* --- ASIDE SECTION - SIZE: MAX: 720PX -- */
    aside {
        padding: 5% 8% 5% 5%;
    }

    .aside_p {
        padding: 0 0 6% 0;
        font-size: 3.2vw;
    }

    .aside_p01 {
        padding: 0% 0 5vw 0;
        font-size: 3vw;
    }

    .aside_p02 {
        padding: 0% 0 4vw 0;
        font-size: 3vw;
    }

    .information_block_aside_01 {
        padding: 0 0 15% 0;
        display: grid;
        grid-template-columns: 4% 29% 4% 1fr 4% 29%;
        grid-template-rows: 80% 20%;
    }

    .information_block_aside_02 {
        padding: 0 0 10% 0;
        display: grid;
        grid-template-columns: 1% 1fr;
        grid-template-rows: 7%;
    }

    .information_block_aside_03 {
        padding: 0 0 20% 0;
        display: grid;
        grid-template-columns: 4% 29% 4% 1fr 4% 29%;
        grid-template-rows: 40% 35% 35% 30%;
    }

    .information_block_aside_04 {
        padding: 0 0 18% 0;
        display: grid;
        grid-template-columns: 4% 29% 4% 1fr 4% 29%;
        grid-template-rows: 90% 30%;
    }

    .information_block_aside_05 {
        padding: 0 0 105% 0;
        display: grid;
        grid-template-columns: 4% 29% 4% 1fr 4% 29%;
        grid-template-rows: 7% 7% 7% 7% 7% 7% 7% 7% 7% 9% 9% 9% 9% 9% 9% 9% 11% 11%;
    }

    .material-icons.icon_color_aside {
        font-size: 2.2vw;
    }

    .text_aside {
        font-size: 3vw;
        padding: 0 11% 0 5%;
    }

    .text_aside_01 {
        font-size: 3vw;
        margin-left: -7vw;
        text-align: left;
    }

    /* --- FOOTER SECTION - SIZE: MAX: 720PX -- */

    .information_block_01_footer {
        display: grid;
        grid-template-columns: 5vw 42vw 8vw 8vw 8vw 1fr;
        grid-template-rows: 4vh;
    }

    .photoFooterIcons720px {
        display: contents;
    }

    .photoFooterIcons721px {
        display: none;
    }

    .marcos_contact_footer {
        padding: 0 3vw 0vh 0vh;
        font-size: 3vw;
    }

    .footer_icons {
        width: 5vw;
        margin-right: 4vw;
    }

    .information_block_02_footer {
        display: grid;
        grid-template-columns: 5vw 42vw 6vw 6vw 35vw;
        grid-template-rows: 4vh;
    }

    .footer_icons_02 {
        width: 5vw;
    }

    .marcos_contact_footer_02 {
        padding: 0 3vw 0vh 0vw;
        font-size: 3vw;
        text-align: left;
        align-items: center;
    }

    .marcos_contact_footer_02:hover {
        font-size: 3vw;
    }

    .information_block_03_footer {
        display: grid;
        grid-template-columns: 47vw 7vw 40vw;
        grid-template-rows: 10vh;
        text-align: left;
        align-items: center;
        width: 100%;
    }

    .footer_icons_03 {
        width: 5vw;
    }

    .marcos_contact_footer_03 {
        font-size: 3vw;
        text-align: left;
    }

    .marcos_contact_footer_03:hover {
        font-size: 3vw;
    }

    .information_block_04_footer {
        display: grid;
        grid-template-columns: 5vw 42vw 6.5vw 1fr;
        grid-template-rows: 8vh;
        min-height: 9vh;
    }

    .footer_icons_04 {
        width: 5vw;
    }

    .marcos_contact_footer_04 {
        padding: 0 3vw 0vh 0vh;
        font-size: 2.6vw;
    }

    .marcos_contact_footer_04:hover {
        font-size: 2.6vw;
    }

}