body{
    font-family: arial;
}

/*Link não visitado */
a:link {
    color: #11607c;
    text-decoration: none;
}

/*Link já visitado*/
a:visited {
    color: #C70039;
    text-decoration: none;
}
  
/*Quando o mouse passa por cima*/
a:hover {
    color: #ff0000;
    text-decoration: none;
}
  
/*Link ativo/selecionado*/
a:active {
    color: yellow;
    text-decoration: none;
}

/* --- HEADER SECTION -- */
header {
    background-color: #11607c;
    padding: 2% 5% 2% 5%;
    margin: 0 5% 0 5%;
}

.photo_text_header {
    display: grid;
    grid-template-columns: 42.5% 15% 1fr;
}

.photo_marcos_header {
    margin: 0 0 15% 0;
    width: 100%;
    border-radius: 50%;
}

.text_header_01 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.division_header {
    display: grid;
    grid-template-columns: 32% 36% 1fr;
}

.division_header_01 {
    border-width: 0;
    background-color: #fff;
    margin: 1vh 0 1vh 0;
    height: 0.2vw;
    width: 100%;
}

.text_header_02 {
    letter-spacing: 0.2vw;
}

/* --- main SECTION -- */
main {
    background-color:white;
    margin: 0 0 0 0;
    height: auto;
}


/* --- CV VERSAO RESPONSIVO -- */
.photo_text_cv_versao_responsivo {
    padding: 4% 5% 5% 5%;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.photo_cv_versao_responsivo {
    width: 100%;
}

.text_cv_versao_responsivo {
    padding: 20% 5% 5% 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    text-align: left;
}

.text_cv_versao_responsivo_01 {
    font-size: 1.7vw;
    font-weight: 600;

}

/* --- CV GRID RESPONSIVO -- */
.photo_text_cv_grid_responsivo {
    padding: 4% 5% 5% 5%;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.photo_cv_grid_responsivo {
    width: 100%;
}

.text_cv_grid_responsivo {
    padding: 35% 5% 5% 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 12% 12% 12% 12%;
    text-align: left;
}

.text_cv_grid_responsivo_01 {
    font-size: 1.7vw;
    font-weight: 600;
}

/* --- CV GRID NAO RESPONSIVO -- */
.photo_text_cv_grid_nao_responsivo {
    padding: 4% 5% 5% 5%;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.photo_cv_grid_nao_responsivo {
    width: 100%;
}

.text_cv_grid_nao_responsivo {
    padding: 0% 5% 5% 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    text-align: left;
}

.text_cv_grid_nao_responsivo_01 {
    font-size: 1.7vw;
    font-weight: 600;
}

/* --- DIVISÃO MAIN CV -- */
.division_main_cv {
    padding: 0% 5% 0% 5%;
    display: grid;
    grid-template-columns: 1% 1fr 1%;
    grid-template-rows: 30% 30%;
}
.division_main_cv_01 {
    border-width: 0;
    background-color: #11607c;
    margin: 1vh 0 1vh 0;
    height: 0.2vw;
    width: 100%;
}

/* --- CV TRADICIONAL -- */
.photo_text_cv_tradicional {
    padding: 4% 5% 5% 5%;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.photo_cv_tradicional {
    width: 100%;
}

.text_cv_tradicional {
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 30%;
    text-align: left;
}

.text_cv_tradicional_01 {
    font-size: 1.7vw;
    font-weight: 600;
}

/* --- FOOTER SECTION -- */
footer {
    background-color: #11607c;
    padding: 2% 5% 2% 5%;
}

/* --- TELA CELULAR -- */
@media (max-width: 720px) {

    /* --- CV VERSAO RESPONSIVO -- */
    .photo_text_cv_versao_responsivo {
        padding: 4% 5% 5% 5%;
        display: block;
    }
    
    .photo_cv_versao_responsivo {
        margin-left: 10%;
        width: 80%;
    }
    
    .text_cv_versao_responsivo {
        padding: 5% 5% 4% 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 30% 30% 30%;
        text-align: center;
    }
    
    .text_cv_versao_responsivo_01 {
        font-size: 3vw;
    }
    
    /* --- CV GRID RESPONSIVO -- */
    .photo_text_cv_grid_responsivo {
        padding: 4% 5% 15% 5%;
        display: block;
    }
    
    .photo_cv_grid_responsivo {
        margin-left: 10%;
        width: 80%;
    }
    
    .text_cv_grid_responsivo {
        padding: 5% 5% 4% 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 30% 30% 30% 30%;
        text-align: center;
    }
    
    .text_cv_grid_responsivo_01 {
        font-size: 3vw;
    }
    
    /* --- CV GRID NAO RESPONSIVO -- */
    .photo_text_cv_grid_nao_responsivo {
        padding: 4% 5% 10% 5%;
        display: block;
    }
    
    .photo_cv_grid_nao_responsivo {
        margin-left: 10%;
        width: 80%;
    }
    
    .text_cv_grid_nao_responsivo {
        padding: 5% 5% 4% 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 30% 30% 30%;
        text-align: center;
    }
    
    .text_cv_grid_nao_responsivo_01 {
        font-size: 3vw;
    }
    
    /* --- CV TRADICIONAL -- */
    .photo_text_cv_tradicional {
        padding: 4% 5% 15% 5%;
        display: block;
    }
    
    .photo_cv_tradicional {
        margin-left: 10%;
        width: 80%;
    }
    
    .text_cv_tradicional {
        padding: 5% 5% 4% 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 70%;
        text-align: center;
    }
    
    .text_cv_tradicional_01 {
        font-size: 3vw;
    }
    
}